---
import Layout from '../layouts/Layout.astro';
import { fetchUser, isUserAdmin } from '../utils/user';
import UsersList from '../components/UsersList.tsx';

interface Props {
	user: any;
}

const userCookie = Astro.cookies.get('user');
if(!userCookie || !userCookie?.value) return Astro.redirect('/login')
const user = await fetchUser(userCookie.value);

if (!isUserAdmin(user)) {
  return Astro.redirect('/');
}

const host = Astro.request.headers.get("host");
const protocol = import.meta.env.NODE_ENV==="development"?"http":"https"
const users = await fetch(`${protocol}:${host}/actions/users`).then((res) => res.json());
---

<Layout title="Admin" user={user}>
	<main>
		<h1 class="text-3xl mb-4">Admin</h1>
		<p>You are seeing this page because you are a "super" user!</p>
		<UsersList users={users} />
	</main>
</Layout>