---
import Layout from '../layouts/Layout.astro';
import { fetchUser, isUserAdmin, fetchUserCustomizations } from '../utils/user';
import CustomBlocks from '../components/CustomBlocks.tsx';

interface Props {
	user: any;
}

const userCookie = Astro.cookies.get('user')?.value;
if(!userCookie) return Astro.redirect('/login')
const user = await fetchUser(userCookie);
const userCustomizations = await fetchUserCustomizations(user.id);
---

<Layout title="Homepage" user={user}>
	<main>
		<h1 class="text-3xl mb-4">Welcome, {user.name}!</h1>
		<CustomBlocks userCustomizations={userCustomizations} client:visible />
	</main>
</Layout>
