---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Login">
	<main>
		<h1 class="text-3xl mb-4">Login</h1>
		<form id="login" action="/actions/login" method="post">
			<input type="text" name="user" placeholder="User ID" class="block w-full p-2 mb-4 border rounded" required />
			<button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Login</button>
		</form>
	</main>

	<script>
		document.getElementById('login').addEventListener('submit', (e) => {
			e.preventDefault();
			e.stopPropagation();

			const { user } = e.target as any

			fetch('/actions/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ id: user.value })
			})
				.then((res) => res.json())
				.then((data) => {
					if (data.id) {
						window.location.href = '/';
					} else {
						alert('Invalid user ID');
					}
				});
		});
	</script>
</Layout>